body {
    background: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background: #ffff;
}

header .logo h2,
header .logo p {
    font-size: 16px;
    display: inline-block;
}

header .logo .icono {
    color: #bfbfbf;
}

header .logo svg {
    width: 30px;
    height: 30px;
}

header .logo p {
    color: #999999;
}

header .menu .c1 {
    background: #3da5e2;
}

header .menu .c2 {
    background: #005385;
}

header .menu .c3 {
    background: #003855;
}

header .menu .c1:hover {
    background: #1ba0ef;
}

header .menu .c2:hover {
    background: #00426a;
}

header .menu .c3:hover {
    background: #002d44;
}

main .portafolio {
    background: #ffff;
}

